name: Release Windows
on:
  push:
    tags:
      - v*.*.*
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      
      - name: Fetch all tags
        run: git fetch --force --tags
      
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Build ipsw.exe
        run: |
          go build -o ipsw.exe ./cmd/ipsw
          
      - name: Upload ipsw.exe
        uses: actions/upload-artifact@v5
        with:
          name: ipsw-windows
          path: ipsw.exe
