name: Release
on:
  push:
    tags:
      - v*.*.*
  workflow_dispatch:

jobs:
  goreleaser:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Fetch all tags
        run: git fetch --force --tags
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: windows-deps
        run: |
          choco install zig

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist -f hack/goreleaser/windows.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SCOOP_TAP_GITHUB_TOKEN: ${{ secrets.GH_SCOOP }}

      - name: Upload ipsw.exe artifact
        uses: actions/upload-artifact@v5
        with:
          name: ipsw-windows
          path: dist/ipsw_windows_amd64/ipsw.exe
